<h1>Public::Events#new</h1>

<h3> タグリスト</h3>
  <% @tag_list.each do |list| %>
    <% if list.events.count != 0 %>
      <span>
        <%= link_to "##{list.tag_name}", tag_event_search_path(tag_id: list.id) %>
        <%= "(#{list.events.count})" %>
    　</span>
　  <% end %>
　<% end %>
<hr>


<%= render partial: 'event_form', locals: { event: @event } %>

