<%= link_to(notifications_path) do %>
<p　class="gray">通知
  <% if unchecked_notifications.any? %>
    <span class= fa-stack>
      <i class="far fa-bell " ></i>
      <!--<i class="fas fa-circle n-circle fa-stack-1x">-->
      <i class=" n-circle ">
      <span><%= unchecked_notifications.count %></span></span>
      </i>
  <% else %>
    <i class="far fa-bell fa-lg" ></i>
  <% end %>
<% end %>

</p>