// Place all the styles related to the public/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$main-color: #f9a939;
$green: #788d63;
$brown: #9f5626;
$orange: #e38e39;
$light_grayish_orange: #d7a861;
$dark-green: darken($green, 20%);
$gray: #8E9AAF;
$white: #f6f6f6;


.index_event_contain{
  margin: 20px auto 30px;
  width: 100%;
  // height: 200px;
  background-position: center;
  background-size: cover;
  display:flex;
}
.event_title_a{
  display:flex;
}
.index_title{
  margin: 0 20px;
  width: 50%;
}
.title_strong{
  font-size: 30px;
  margin-left: 20px;
}

input  {
    background: rgba(255, 255, 255, 0.3);
    width: 85%;
    color: $white;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 9px;
    margin: 7px;
    font-size: 15px;
    font-family: 'Cormorant Upright','Cormorant Upright', serif;

    &::placeholder {
       color: rgba($gray, 1);
      letter-spacing: 2px;
      font-size: 18px;
      font-weight: 100;
    }
    &:focus {
      color: $gray;
      outline: none;
      border-bottom: 1.2px solid rgba($dark-green, 0.7);
      font-size: 15px;
      transition: .8s all ease;

      &::placeholder {
        opacity: 0;
      }
    }

  }
#start {
    background: rgba(255, 255, 255, 0.3);
    width: 85%;
    color: $dark-green;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 9px;
    margin: 7px;
    font-size: 15px;
    font-family: 'Cormorant Upright','Cormorant Upright', serif;

    &::placeholder {
       color: rgba($green, 1);
      letter-spacing: 2px;
      font-size: 18px;
      font-weight: 100;
    }
    &:focus {
      color: $dark-green;
      outline: none;
      border-bottom: 1.2px solid rgba($dark-green, 0.7);
      font-size: 15px;
      transition: .8s all ease;

      &::placeholder {
        opacity: 0;
      }
    }

  }


    #btn{
      background: rgba(255, 255, 255, .1);
      padding: 10px;
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 15px;
      border-radius: 10px;
      margin: auto;
      outline: none;
      display: block;
      // color: $white;
      color: $green;
        &:hover {
        background: $dark-green;
        color: $white;
        transition: background-color 1s ease-out;
      }
    }


  h3{
      margin-top: 5px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      color: $gray;
  }

.show-contain{
  width: 80%;
  display: flex;
  margin: 10px auto 0;

  .show-comments{
    margin-left: 20px;
    width: 40%;
  }
}
.show-item,{
  height: 20%;
    width: 40%;
}

.show-s-box{
  display: flex;
  margin-bottom: 15px;
}
.show-b-box{
  width: 100%;
}

.event_comment_container {
  padding: 0;
  overflow: hidden;
  // max-width: 80%;
  margin: 20px auto;
  font-size: 80%;

  .event_comment_contents {
    padding: 10px;
    overflow: hidden;
    line-height: 135%;
    &.scroll {
      height: 20vh;;
      overflow-y: scroll;
    }
  }
}

#comment_comment{
  width: 240px;

}
.new-comment{
  display: flex;
    .new-comment-item{
      margin: 20px auto;
    }
}

// ツールチップ

div.tooltip	{
	width: 250px;
	position: absolute;
	left: -9999px;
	background: #000;
	padding: 5px;
}

div.tooltip p, a.p  h4 p{
	color: #FFF;
	background: #222;
	padding: 5px 10px;
}


a.p:hover {
    position: relative;
    text-decoration: none;
}
a.p span,a.p  h4 {
    display: none;
    position: absolute;
    top: 1em;
    left: 0;
}
a.p:hover span,a.p:hover h4 {
    border: none;
    display: block;
    width: 210px;
}
.a_image{
	position: absolute;
	top: -140px;
	right: 60%;
	width: 200px;
	height: 200px;
	border-radius: 20%;
}
a.p  .recruit_tooltip {
  font-size: 15px;
	position: absolute;
	top: -100%;
	left: 150%;
	width: 200px;
	border-radius: 20%;
	background: #000;
}

a.p  .event_tooltip {
  font-size: 15px;
	position: absolute;
	top: 0%;
	left: 80%;
	width: 200px;
	border-radius: 20%;
	background: #000;
}

.show-image{
  width: 35%;
}