// Place all the styles related to the public/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$main-color: #f9a939;
$green: #788d63;
// $white: #fdeed7;
$brown: #9f5626;
$orange: #e38e39;
$light_grayish_orange: #d7a861;
$dark-green: darken($green, 20%);
$gray: #8E9AAF;
// $light-green: #a2e29b;
$white: #f6f6f6;


#calendar{
  width:500px;
  hight:400px;
}
// [calendar.scss]
.fc-day.fc-today {
    position: relative;
}

.fc-day.fc-today::before,
.fc-day.fc-today::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

.fc-day.fc-today::before {
    border-width: 1.5em;
}

.fc-day.fc-today::after {
    border-radius: 0;
    border-width: 1.5em;
    border-right-color: green;
    border-top-color: green;
}

.events_index{
     width: 80%;
    display: flex;
    flex-wrap: wrap;

    .item{
      margin: 30px auto 0;
      padding: 15px;
      width: 205px;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

        .event_box{
          left: 50px;
          top: 30px;
          text-align: center;
          color: #000;
        }
        .event_image{
            position:  absolute;
              z-index: 2;
              left: -30px;
              top: -20px;
              width: 90px;
              height: 90px;
              border-radius: 50%;
              background-image: image-url('public/bg/flute.jpg');
              box-shadow:  0 10px 15px 0 rgba(0, 0, 0, 0.3);
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
        }
    }
}

input  {
    background: rgba(255, 255, 255, 0.3);
    width: 85%;
    // color: darken($dark-green, 20
    color: $gray;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 9px;
    margin: 7px;
    font-size: 15px;

    &::placeholder {
       color: rgba($white, 1);
      letter-spacing: 2px;
      font-size: 18px;
      font-weight: 100;
    }
    &:focus {
      color: $dark-green;
      outline: none;
      border-bottom: 1.2px solid rgba($dark-green, 0.7);
      font-size: 15px;
      transition: .8s all ease;

      &::placeholder {
        opacity: 0;
      }
    }

  }
    #btn{
      background: rgba(255, 255, 255, 0);
      padding: 12px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 11px;
      border-radius: 10px;
      margin: auto;
      outline: none;
      display: block;
        &:hover {
        background: $dark-green;
        color: $white;
        transition: background-color 1s ease-out;
      }

    }

  h3{
      margin-top: 5px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      color: $gray;
  }

.show-contain{
  width: 80%;
  display: flex;
  margin: 10px auto;

  .show-item,
  .show-comments{
    margin-left: 20px;
    &.scroll {
      height: 300px;
      overflow-y: scroll;
    }
  }
}


#comment_comment{
  width: 136px;
  
}
  .new-comment{
    margin-bottom: 20px;
  }
