// Place all the styles related to the public/recruitments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$main-color: #f9a939;
$green: #788d63;
$brown: #9f5626;
$orange: #e38e39;
$light_grayish_orange: #d7a861;
$dark-green: darken($green, 20%);
$gray: #8E9AAF;
$white: #f6f6f6;


  .recruit_form_container{
    margin: auto;
    width: 650px;
    // height: 100px;
    position: relative;

  /* form styling */

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7px;
  }

}

.add_need_people {
    color: #000;
  }

// .recruit-new{
.bgc-non{
  margin: 0;
  padding-left: 0;
  font-size: 18px;
  background: rgba(255, 255, 255, 0);
  
}

.show-item-box{
  margin-bottom: 10px;

  h3{
    margin-bottom: 10px;

  }
}

.recruit-show-contain{
  width: 80%;
  height: 100vh;
  display: flex;
  margin: 10px auto;
  .recruit-show{
    margin: 0 auto;
  }
}

.actions{
  margin-bottom: 30px;
  margin-left: 30px;
  font-size: 15px;

}