// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-color: #f9a939;
$green: #788d63;
$white: #fdeed7;
$brown: #9f5626;
$orange: #e38e39;
$light_grayish_orange: #d7a861;
// $gray: #eee;
$gray: #8E9AAF;
$dark_gray: #838e95;
$white: #f6f6f6;


/*========= 検索窓を開くためのボタン設定 ===========*/

.open-btn{
	position: absolute;
	top: 50px;
	right: 20px;
	background-image: image-url('public/icon/white_search_icon.png');
	background-repeat: no-repeat;
  background-position: center;
	background-size: 15px;
	width:50px;
	height:50px;
	cursor: pointer;/*カーソルを指マークに*/

}
/*クリック後、JSでボタンに btnactive クラスが付与された後の見た目*/
	.btnactive{
		background-image: image-url('public/icon/white_close.png');
		background-repeat: no-repeat;
	  background-position: center;
		background-size:  40px 15px;
	}

/*========= 検索窓の設定 ===============*/

/*==検索窓背景のエリア*/

#search-wrap{
  position: absolute;/*絶対配置にして*/
	top: 110px;
  right: 20px;
  width: 280px;
	z-index: -1;/*最背面に設定*/
	opacity: 0;/*透過を0に*/
	transition: all 0.4s;/*transitionを使ってスムースに現れる*/
	border-radius: 5px;
	background-color: $white;
}

/*ボタンクリック後、JSで#search-wrapに panelactive クラスが付与された後の見た目*/
#search-wrap.panelactive{
	opacity: 1;/*不透明に変更*/
	z-index: 3;/*全面に出現*/
	width:280px;
	right: 20px;
	top: 75px;
	padding:20px;
	margin-top: 14px;
	border:#eee solid 2px;
// 	background: $orange;
}

/*==検索窓*/
#user_search{
	display: none;/*検索窓は、はじめ非表示*/
}

/*ボタンクリック後、JSで#search-wrapに panelactive クラスが付与された後*/
#user_search{
	display: block;/*検索窓を表示*/
}

/*==検索フォームの設定*/

/*==テキスト入力とボタンinput共通設定*/
#search-wrap input{
	-webkit-appearance:none;/*SafariやChromeのデフォルトの設定を無効*/
	outline: none;
	margin-top: 5px;
	cursor: pointer;/*カーソルを指マークに*/
	color: $gray;
}

/*テキスト入力input設定*/
#search-wrap input[type="search"] {
	width: 90%;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	transition: all 0.5s;
	letter-spacing: 0.05em;
  height: 30px;
	padding: 10px;
	left: 0;
	background: rgba(255, 255, 255, 0.3);
}

/*テキスト入力inputにフォーカスされたら*/
#search-wrap input[type="search"]:focus {
  background: rgba(255, 255, 255, 0.8);
}

/*ボタンinput設定*/
#search-wrap input[type="submit"] {

	position: absolute;
  top: 20px;
	right: 10px;
	background-color:$white;
	background-image: image-url('public/icon/search_icon.png');
	background-repeat: no-repeat;
  background-position: right;
	background-color:rgba(0,0,0,0);
	background-size: 20px 20px;
	width: 30px;
	height: 60px;
	border: none;
	transition: all 0.5s;
	letter-spacing: 0.05em;
}



/* ===== Select Box ===== */
.sel {
  // font-size: ;
  display: inline-block;
  margin: 5px;
  width: 180px;
  // background-color: $white;
  position: relative;
  cursor: pointer;
}

.sel::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: '\f063';
  font-weight: 900;
  font-size: 10px;
  color: #838e95;
  right: 20px;
  top: calc(50% - 0.5em);
}

.sel.active::before {
  transform: rotateX(-180deg);
}

.sel__placeholder {
  display: block;
  color: #838e95;
  padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  // font-size: 1em;
  background-color: #FFF;
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: calc(100% + 8px);
  box-sizing: border-box;
  z-index: 1;
}

.signup .sel__box {
  height: 200px;
  overflow: scroll;
  top: inherit;
  bottom: 0%;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  color: #838e95;
  padding: 0.5em 1em;
  user-select: none;
}

.sel__box__options::after {
  content: '\f00c';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  margin-left: 5px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #ebedef;
}

/* ----- Select Box Black Panther ----- */
.sel {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.3);
}


/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.index_contain{
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.user_sort {
  width: 25%;
  margin: 10px;

  a{
  text-align: center;
  color: $dark_gray;
  border: none;
　outline: none;
  }
}


.users_index{
  width: 70%;
  // height: 100vh;
  margin: 10px auto ;

}

.index_user_contain{
  margin: auto;
  width: 100%;
  height: 130px;
  background-position: center;
  background-size: cover;
  display:flex;
}
.index_image_box{
  width: 12%;
}

.index_image{
  width: 100%;
  border-radius: 45% 10% 45% 40%;
  box-shadow:  0 20px 25px 0 rgba(225, 225, 225, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.index_name{

  font-size: 30px;
  margin: 0 20px;
  width: 30%;
}

.index_item{
  width: 60%;

}


.form-contain{
  display:flex;
  width: 80%;
  margin: 0 auto;

  .form{
    margin: 40px 40px;
    width: 50%;

    textarea {
      width: 200px;
      height: 100px;
      font-size: 15px;

    }
  }

  .profile_image{
    border-radius: 50% 10% 45% 40%;

    &:hover{
      cursor: pointer;
    }
  }

}

.index_contain_time{
  width: 23%;
}

.user-show-contain{
  width: 100%;
  height: 100vh;
  padding-bottom: 20px;
  margin: 20px auto 0;
  display:flex;
}

.user-show-side{
  width: 20%;
  margin-right: 10px;
  p{
    line-height: 40px;
  }
  a{
    color: $gray;
  }
}

.orchestra-show-box{
  width: 50%;
  margin: 0 auto;
}

.orchestra-show{
  width: 20%;
  margin-right: 30px;
  text-align: right;
  .image{
    border-radius: 50%;
  }
}

.orchestra-comment{
  display:flex;
  width: 100%;

  p{
    height: 30px;
    // font-size: 1px;
  }
}

  .link-space{
    margin: 10px 0;
  }
.orchestra-name{
  width: 50%;
  padding-left: 20px;
  // text-align: right;

}

.orchestra-comment-comment{
  width: 80%;
}


.orchestra-item{
  width: 60%;
}

.orchestra-form{
  margin-bottom: 10px;
}

.sel-bg-none{
 background: rgba(255, 255, 255, 0);
}

.orchestra-item-s{
  width: 40%;
}