$('#last_message').append("<div class='my_chat'><div class='text'><%= @chat.message %></div><div class='my_text_time'><%= @chat.created_at.strftime('%H:%M')%></div></div>");
$('input[type=text]').val("");
// $('#scroll').animate({ scrollEnd: $('#scroll')[0].scrollHeight});
var messageDetails = document.getElementById('scroll');
messageDetails.scrollTop = messageDetails.scrollHeight;