
<h1>トークルーム </h1>

  <div class="room-index-contain">
    <div class="room-box">
       <h3>参加済みトークルーム </h3>
       <% @user_rooms.each do |user_room| %>
         <% if user_room.user_id == current_user.id %>
           <% if user_room.activation == true %>
             <div>
               <%= link_to room_path(user_room.room_id) do %>
               <%= user_room.room.room_name %>
               <% end %>
             </div>
           <% end %>
         <% end %>
       <% end %>
    </div>
    <div class="room-box">
     <h3>未参加のトークルーム </h3>
      <% @user_rooms.each do |user_room| %>
          <% if user_room.user_id == current_user.id %>
             <% if user_room.activation == false %>
              <div>
              <%= link_to room_path(user_room.room_id) do %>
                <%= user_room.room.room_name %>
              <% end %>

            <% end %>

          </div>
        <% end %>
      <% end %>
    </div>
  </div>

