<h1>Tuning</h1>
   <a>about<a>
       <div class="block">

        <a class="hovicon effect-8 btnripple3">IO</a>
    </div>

<a rel="" class=" hover-shadow">Hover Shadow</a>
<div id="pagepiling">
    <section class="section" id="section1">
        〜内容〜
    </section>
    <section class="section pp-scrollable" id="section2">
        〜内容〜
    </section>
    <section class="section" id="section3">
        〜内容〜
    </section>
    <section class="section" id="section4">
        〜内容〜
    </section>
こんにちは、かわいい<a href="#" class="p">犬<span><img src="/inu.jpg" alt="犬"></span></a>ですね。
</div>
<a href="" class="linkImg"><span><img src="img/thumb.jpg">kkokokok</span></a>
<div src=""; title="ここにテキスト<br>ここにテキスト">
ああああ</div>