<div id="calendar"></div>

<!--<div id="wrapper">-->

<!--<div class="ms-left"><!--ここから左画面-->-->

<!--<section class="ms-section" id="left1">-->
<!--<div class="sp-top"></div>-->
<!--<div class="sp-bottom">-->
<!--<h2>ご来場頂き誠にありがとうございます。</h2>-->
<!--<p>ご来場頂き誠にありがとうございます。</p>-->
<!--</div>-->
<!--/left1--></section>
<!--<div class="ms-section" id="left2"></div>-->

<!--<section class="ms-section" id="left3">-->
<!--<div class="sp-top"></div>-->
<!--<div class="sp-bottom">-->
<!--<p>まずは会員登録</br>自分の経験等を書いてアピールしましょう</p>-->
<!--</div>-->
<!--/left3--></section>

<!--<div class="ms-section" id="left4"></div>-->

<!--<section class="ms-section" id="left5">-->
<!--<div class="sp-top"></div>-->
<!--<div class="sp-bottom">-->
<!--<p>仲間を探している楽団に応募して</br>トークルームでコミュニケーション</p>-->
<!--</div>-->
<!--/left5--></section>

<!--<div class="ms-section" id="left6"></div>-->

<!--<section class="ms-section" id="left7">-->
<!--<div class="sp-top"></div>-->
<!--<div class="sp-bottom">-->
<!--<p>応募してくれた人には</br>thank youコメントを送りましょう</p>-->
<!--</div>-->
<!--/left7--></section>

<!--<div class="ms-section" id="left8"></div>-->

<!--/ms-left--></div><!--/ここまで左画面-->

<!--<div class="ms-right"><!--ここから右画面-->-->

<!--<div class="ms-section" id="right1"></div>-->

<!--<section class="ms-section" id="right2">-->
<!--<div class="sp-top"></div>-->
<!--<div class="sp-bottom">-->
<!--<p>ここでは共に</br><span class="orange strong">Tuning</span></br>する仲間を見つけることができます。</p>-->
<!--</div>-->
<!--/left2--></section>

<!--<div class="ms-section" id="right3"></div>-->

<!--<section class="ms-section" id="right4">-->
<!--<div class="sp-top"></div>-->
<!--<div class="sp-bottom">-->
<!--<p>イベント情報を探したり</br>参加するイベントを宣伝したり</p>-->
<!--</div>-->
<!--/left4--></section>

<!--<div class="ms-section" id="right5"></div>-->

<!--<section class="ms-section" id="right">-->
<!--<div class="sp-top"></div>-->
<!--<div class="sp-bottom">-->
<!--<p>公式楽団に申請をすれば</br>募集したり</br>スカウトしたり</p>-->
<!--</div>-->
<!--/left6--></section>

<!--<div class="ms-section" id="right7"></div>-->

<!--<section class="ms-section" id="right8">-->
<!--<div class="sp-top"></div>-->
<!--<div class="sp-bottom">-->
<!--<p>%= link_to  new_user_registration_path do %>さあ、仲間を探しに行きましょう！% end %></p>-->
<!--</div>-->
<!--/left8--></section>

<!--/ms-right--></div><!--/ここまで右画面-->

<!--/wrapper--></div>