 <h1>thank you comment</h1>
  <div class="notification-contain">
  <% @thank_you_comments.each do |comment| %>
    <div class="thanks-comment">
      <tr>
        <td><%= link_to recruitment_path(comment.recruitment_id) do %>
          <%= Recruitment.find_by(id: comment.recruitment_id).title %>
          <% end %>
        </td>
        <td><span class="green">からのコメント：</span>
          <%= comment.thanks_comment %>
        </td>
      </tr>
    </div>
  <% end %>
  </div>

