/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar

 */

// for font-awesome
// @import "font-awesome-sprockets"
@import "font-awesome";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&display=swap');





// color
// $main-color: #f9a939;
// $green: #788d63;
// $white: #fdeed7;
// $brown: #9f5626;
// $orange: #e38e39;
// $light_grayish_orange: #d7a861;


// $light-blue: #4db1ec;
// $blue: #1665cc;
// $purple: #b473bf;
// $pink: #ffb2c1;
// $yellow: #ffd673;
// $light-green: #a2e29b;
// $grey: #333;


$main-color: #f9a939;
$green: #788d63;
$brown: #9f5626;
$orange: #e38e39;
$light_grayish_orange: #d7a861;
$dark-green: darken($green, 20%);
$gray: #8E9AAF;
$white: #f6f6f6;


// fonts
html {
font-family: 'Cormorant Upright','Cormorant Upright', serif;

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  color:$white;
  // font-size: 20px;
    // align-items: center;
//     // -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
//     // clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

#main{
  color:$white;
  width: 80%;
  min-hight: 100vh;
  margin: 0 auto;
}

.header a{
  height: 50px;
}


@keyframes bg-color {
    0% { background-color: $main_color; }

    20% { background-color: $green; }

    75% { background-color: $light_grayish_orange; }

    100% { background-color:$main_color; }
}

#title{
  line-height: 300px;
  text-align: center;
  font-size: 30px;
}

a{
  color: $white;
  text-decoration: none;
}

// input  {
//     color: $gray;
//     // background: rgba(255, 255, 255, 0.3);
//     width: 85%;
//     color: darken($dark-green, 20%);
//     border: none;
//     border-bottom: 2px solid rgba(0, 0, 0, 0.1);
//     padding: 9px;
//     margin: 7px;
//     font-size: 15px;

//     &::placeholder {
//       color: rgba($white, 1);
//       letter-spacing: 2px;
//       font-size: 18px;
//       font-weight: 100;
//     }
//     &:focus {
//       color: $dark-green;
//       outline: none;
//       border-bottom: 1.2px solid rgba($dark-green, 0.7);
//       font-size: 15px;
//       transition: .8s all ease;

//       &::placeholder {
//         opacity: 0;
//       }
//     }

  // }

.gray{
  color:$gray;
}

.green{
  color:$green;
}
.black{
  color:#000;
}
.image{
  width: 150px;
}